<h1>
  Welcome To Angular App
</h1>
<p>(Main)</p>

<span class="message">
  {{message}}
</span>
<p>one way(Text interpolaton )Binding</p>

<app-products> </app-products>

<img [src]="imageUrl"/>
<p>(Property Binding)</p>

UserName:<input type="text" [(ngModel)] ="UserName"/><br/>
PassWord:<input type="text"/><br/>
<p>(Two Way Binding)</p><br/>

<button (click)="showDetails()" [style.background-color]="titleBGColor" [style.width]=" WidthSize ">
  submit
</button>
<p>(Event Binding)</p>

<div *ngIf="selectedTopic">
  <h3>User Selected Topic:</h3>
  <h2 style="color: red">{{selectedTopic.topicName}}</h2>
</div>

<h2  style="color: red"
  *ngIf="!selectedTopic">User hasn't sected any topic yet</h2>

<app-values pageTitle="Passing data from parent to child"
 [topicList]="topics"
 (onUserSelectTopic)="onTopicSelection($event)" > </app-values>


